<!DOCTYPE html>
<html lang="es" ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>SaberApp Cloud</title>
        <link rel="stylesheet" href="css/materialize.min.css">
        <link rel="stylesheet" href="css/estilos.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body style="background-color: #fafafa; !important">
        <main>
            <div  style="margin-top: -0.5rem; padding: 15px; background-color: #0072C6; !important">
                <h5 class="title center-align" style="color: #fff;"><b>SaberApp</b></h5>
            </div>
            <br><br>
            <center>
                <div class="card-panel" style="width:75%;" ng-controller="loginController as vm">                         
                    <div class="row center" style="width:45%;">
                        <div class="row">
                            <br><br>
                            <center><img src="img/saberapp.PNG" id="img1" class="imgs"></center>
                            <br>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">library_books</i>
                                <input ng-model="vm.datos.email" id="first_name" type="text" class="validate">
                                <label>Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">library_books</i>
                                <input ng-model="vm.datos.contrasenia" id="first_name" type="password" class="validate">
                                <label>Contraseña</label>
                            </div>
                            <div class="right-align">
                                <a ng-click="vm.iniciarSesion();" class="waves-effect waves-light btn" style="background-color: #0072C6;">Iniciar </a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="waves-effect waves-light btn" href="RegistrarUsu.php" style="background-color: #0072C6;">Registrar</a>
                            </div>					
                        </div>
                    </div>
                </div>
            </center>
        </main>
        <footer class="page-footer"  style=" background-color: #eeeeee; !important">		
            <div class="footer-copyright">
                <div class="container" style="color:#0072C6;">
                    © 2015 Copyright 
                    <a class="text-lighten-4 right" href="#!" style="color:#0072C6;">Appoyamos Tu Saber</a>
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="scripts/jquery.min.js"></script>
        <script type="text/javascript" src="scripts/angular.min.js"></script>
        <script type="text/javascript" src="scripts/materialize.min.js"></script>
        <script type="text/javascript" src="scripts/angular-route.min.js"></script>
        <script type="text/javascript" src="Modules/appModule.js"></script>
        <script src="js/services.js" type="text/javascript"></script>
        <script src="js/controllers.js" type="text/javascript"></script>
    </body>
</html>