<ion-view style="" title="Perfil">
<ion-content class="has-header" padding="true">
<div style="width: 300px; height: 29px;" class="spacer"></div>
<ion-list style="">
<ion-item style="" class="item-thumbnail-left">
<img>
<h2>Saberencio Appencio</h2>
<p>appoyamostusaber@gmail.com</p>
</ion-item>
</ion-list>
<form style="width:80%;" class="list">
    <label style="" class="item item-input">
        <span class="input-label">Email</span>
        <input placeholder="example@example.com" type="email">
    </label>
    <label style="" class="item item-input">
        <span class="input-label">Nombre</span>
        <input placeholder="Nombre" type="text">
    </label>
    <label style="" class="item item-input">
        <span class="input-label">Apellido</span>
        <input placeholder="Apellido" type="text">
    </label>
    <label style="" class="item item-select">
        <span class="input-label">Sexo</span>
        <select></select>
    </label>
</form>
<button style="" class="button button-positive button-block ">Guardar cambios</button>
</ion-content>
</ion-view>