<ion-view style="" title="Resultados">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Respondidas</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="" class="item-divider">Correctas: 40: 40%</ion-item>
                    <ion-item style="" class="item-divider">Incorrectas: 60: 60%</ion-item>
                </ion-list>
            </div>
            <div class="item item-divider">Total: 100</div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Aquí va una gráfica...</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>