<ion-view style="" title="SaberApp">
    <ion-content class="has-header" padding="true">
        <a style="" class="button button-balanced button-block " href="#/retar1">¡Retar!</a>
        <div style="" class="list card">
            <div class="item item-divider">¡Responde!</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Anya Bolaño</ion-item>
                    <ion-item style="">Boris Gonzalez</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Esperando...</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Martín Romero</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="list card">
            <div class="item item-divider">Terminados</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Wendy Castrillo</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>