    <div  style="width: 75%; ">
        <ion-view style="" title="Tabs Controller">
        <ion-tabs style="" class="tabs-positive tabs-icon-top">
        <ion-tab style="" title="index" icon="ion-android-home" href="#/pestanas/retos">
        <ion-nav-view name="tab1"></ion-nav-view>
         </ion-tab>
             <ion-tab style="" title="Resultados" icon="ion-podium" href="#/pestanas/resultados">
                <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab style="" title="Perfil" icon="ion-android-person" href="#/pestanas/perfil">
        <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        </ion-tabs>
        </ion-view>
    </div>