<ion-view style="" title="¡Retar!">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Seleccionar competidor</div>
            <div class="item item-body">
                <form style="" class="list">
                    <label style="" class="item item-input">
                        <span class="input-label">Usuario</span>
                        <input placeholder="Escribe aquí el nombre o apellido" type="text">
                    </label>
                </form>
                <ion-list style="">
                    <ion-item style="">Item 1</ion-item>
                    <ion-item style="">Item 2</ion-item>
                    <ion-item style="">Item 3</ion-item>
                </ion-list>
                <button style="" class="button button-calm button-block ">Cargar otros</button>
            </div>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-assertive button-clear button-block  icon-left ion-ios-arrow-back" href="#/retar1">Atrás</a>
            <a style="" class="button button-balanced button-clear button-block  icon-right ion-ios-arrow-forward" href="#/pregunta">¡Empezar!</a>
        </div>
    </ion-content>
</ion-view>