<ion-view style="" title="¡Retar!">
    <ion-content class="has-header" padding="true">
        <div style="" class="list card">
            <div class="item item-divider">Selecciona el área</div>
            <div class="item item-body">
                <ion-list style="">
                    <ion-item style="">Lectura Crítica</ion-item>
                    <ion-item style="">Matemáticas</ion-item>
                    <ion-item style="">Ciencias Sociales y Competencias Ciudadanas</ion-item>
                    <ion-item style="">Ciencias Naturales</ion-item>
                    <ion-item style="">Inglés</ion-item>
                </ion-list>
            </div>
        </div>
        <div style="" class="button-bar">
            <a style="" class="button button-energized button-clear button-block  icon-left ion-ios-arrow-back" href="#/pestanas/retos">Volver</a>
            <a style="" class="button button-calm button-clear button-block  icon-right ion-ios-arrow-forward" href="#/retar2">Siguiente</a>
        </div>
    </ion-content>
</ion-view>