<ion-view style="" title="Área">
    <ion-content class="has-header" padding="true">
        <div style="">

            <center>
                <b>ESTE ES UN ENCABEZADO</b>
                <br>
                <br>Aquí van los textos de un encabezado. Luego sigue el enunciado propio de la pregunta. Un encabezado puede estar en muchas preguntas, y una pregunta puede no tener o tener sólo un encabezado.
                <br>
                <br>
                <b>De acuerdo a lo anterior, ¿Qué crees que tuvo quien escribió esto?</b>
            </center>
        </div>
        <div style="width: 300px; height: 37px;" class="spacer"></div>
        <div style="">
            <center>Hambre</center>
        </div>
        <div style="width: 300px; height: 22px;" class="spacer"></div>
        <div style="">
            <center>
                Flojera
            </center>
        </div>
        <div style="width: 300px; height: 20px;" class="spacer"></div>
        <div style="">
            <center>
                Aburrimiento
            </center>
        </div>
        <div style="width: 300px; height: 19px;" class="spacer"></div>
        <div style="">
            <center>
                Todas las anteriores
            </center>
        </div>
        <div style="width: 300px; height: 21px;" class="spacer"></div>
        <div style="" class="button-bar">
            <a style="" class="button button-royal button-clear button-block  icon-left ion-android-exit" href="#/pestanas/retos">Salir</a>
            <a style="" class="button button-positive button-clear button-block  icon-right ion-forward" href="#/pestanas/resultados">Siguiente</a>
        </div>
    </ion-content>
</ion-view>