<div style="width: 75%;" class="center-align">
    <center>                                       
        <div class="row center" style="width:70%;">	                      
            <br><br>
            <center>
                <div class="card-panel" style="width:70%;">
                    <div class="row center" style="width:80%;">
                        {{vm.pregunta.encabezado.TITULO}}
                        <br>
                        {{vm.pregunta.encabezado.DESCRIPCION}}
                        <br>
                        {{vm.pregunta.ENUNCIADO}}
                        <br>
                    </div>
                </div>
                <a href="resultados.php"></a>
            </center>
        </div>
        <div class="row center" style="width:70%;" ng-repeat="opcion in vm.pregunta.opciones">                   
            <center>
                <div class="card-panel" style="width:70%;">
                    <div class="row center" style="width:80%; height: 10px;">
                        <label>{{opcion.DESCRIPCION}}</label>
                    </div>
                </div>
            </center>
        </div>
    </center>
    <br><br><br>
</div>