<div class="card-panel" style="width:75%;">                         
    <div class="row center" style="width:45%;">
        <div class="row">
            <br><br>
            <center><img src="saberapp.png" id="img1" class="imgs"></center>
            <br>
            <div class="input-field col s12">
                <i class="material-icons prefix">library_books</i>
                <input id="first_name" type="text" class="validate">
                <label>Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">library_books</i>
                <input  id="first_name" type="password" class="validate">
                <label>Password</label>
            </div>
            <div class="right-align">
                <a class="waves-effect waves-light btn" href="#" ng-click="#" style="background-color: #0072C6;">Iniciar </a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="waves-effect waves-light btn" href="RegistrarUsu.php"  ng-click="#" style="background-color: #0072C6;">Registrar</a>
            </div>					
        </div>
    </div>
</div>