<div style="width: 75%;" class="center-align">
    <br>
    <center>                                       
        <div class="row center" style="width:70%;">                      
            <div class="card" style="background-color: #f5f5f5;">
                <div class="card-image">
                    <label class="center-align" style="background-color: #f5f5f5;"><h5>&nbsp;&nbsp;Seleccionar competidor</h5></label>             
                </div>
                <center>
                    <div class="card-action" style="padding:0px !important; border-top:0px solid rgba(160,160,160,0.2);">
                        <ul class="collection">
                            <li class="collection-item left-align">
                                <label>                                            
                                    <div class="row">
                                        <div class="input-field col s6">                                                                                              <input ng-model="vm.filtro" ng-change="vm.cargarUsuarios();" id="first_name" type="text" class="validate">
                                            <label>Escribe aquí el nombre de quien buscas</label>
                                        </div>
                                    </div>
                                </label>
                            </li>
                            <li class="collection-item left-align" ng-repeat="usuario in vm.usuarios">
                                <label ng-click="vm.almacenarEnSesion(usuario)" style="cursor: pointer;"><h6>{{usuario.NOMBRE + " " + usuario.APELLIDO}}</h6></label>
                            </li>
                            <li class="collection-item left-align">
                                <label>
                                    <a class="waves-effect waves-light btn center-align" style="background-color: #0072C6; width:97%;" ng-click="vm.cargarUsuarios();"><label style="color:#fff;">Cargar Otros</label></a>
                                </label>
                            </li>                                   
                        </ul>                                
                    </div>
                </center>
            </div>  
            <div class="row">     
                <div class="center-align">
                    <a class="waves-effect waves-light btn" href="#/Gestionar/Retos" style="background-color:#0072C6;">Atras</a>
                </div>
<!--                <div class="col s6 right-align">
                    <a class="waves-effect waves-light btn" href="#/Gestionar/Areas" style="background-color:#0072C6;">Siguiente</a>
                </div>-->
            </div>            
        </div>
    </center>
    <br><br><br><br>
</div>
</body>
</html>