<div style="width: 70%;" class="center-align">
    <br>
    <center>
        <div class="row center" style="width:100%;">					
            <a class="waves-effect waves-light btn" href="#/Comenzar/Reto" ng-click="#" style="background-color: #0072C6; width:100%;">¡Retar!</a>
            <br><br>	
            <div class="card" style="background-color: #f5f5f5;">
                <div class="card-image">
                    <label class="left-align" style="background-color: #f5f5f5;"><h5>&nbsp;&nbsp;¡Responde!</h5></label>             
                </div> 
                <center>          
                    <div class="card-action" style="padding:0px !important; border-top:0px solid rgba(160,160,160,0.2);">
                        <ul class="collection">
                            <li class="collection-item left-align"><label><h6>Anya Bolanios</h6></label></li>
                            <li class="collection-item left-align"><label><h6>Boris Gonzales</h6></label></li>                                        
                        </ul>
                    </div>
                </center>
            </div>  
            <div class="card" style="background-color: #f5f5f5;">
                <div class="card-image">
                    <label class="left-align" style="background-color: #f5f5f5;"><h5>&nbsp;&nbsp;Esperando...</h5></label>             
                </div> 
                <center>          
                    <div class="card-action" style="padding:0px !important; border-top:0px solid rgba(160,160,160,0.2);">
                        <ul class="collection">
                            <li class="collection-item left-align"><label><h6>Anya Bolanios</h6></label></li>
                            <li class="collection-item left-align"><label><h6>Boris Gonzales</h6></label></li>                                        
                        </ul>
                    </div>
                </center>
            </div> 
            <div class="card" style="background-color: #f5f5f5;">
                <div class="card-image">
                    <label class="left-align" style="background-color: #f5f5f5;"><h5>&nbsp;&nbsp;Terminados</h5></label>             
                </div> 
                <center>          
                    <div class="card-action" style="padding:0px !important; border-top:0px solid rgba(160,160,160,0.2);">
                        <ul class="collection">
                            <li class="collection-item left-align"><label><h6>Anya Bolanios</h6></label></li>
                            <li class="collection-item left-align"><label><h6>Boris Gonzales</h6></label></li>                                        
                        </ul>
                    </div>
                </center>
            </div> 
        </div>
        <br>
    </center>
    <br><br>
</div>

<script type="text/javascript" src="scripts/jquery.min.js"></script>
<script type="text/javascript" src="scripts/angular.min.js"></script>
<script type="text/javascript" src="scripts/materialize.min.js"></script>
<script type="text/javascript" src="scripts/angular-route.min.js"></script>
<script type="text/javascript" src="Modules/appModule.js"></script>
<script type="text/javascript" src="Controllers/competenciasController.js"></script>
<script type="text/javascript">
                $(document).ready(function () {
                    $('select').material_select();
                });
</script>
